@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #B9B9B9;
    background-image: url('../../public/img/background6.png');
    background-size: 100px;
    background-repeat:repeat;
    overflow-x: hidden;
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-track {
    opacity: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(54, 54, 54, 0.75);
    border-radius: 20px;
    border: solid 2px transparent;
    background-clip: content-box;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(54, 54, 54);
    border-radius: 20px;
    border: solid 2px transparent;
    background-clip: content-box;
}

@media screen and (max-width: 450px) {
    body {
        zoom: 80%;
    }
}

.div_col{
    display: flex;
    flex-direction: column;
}
.div_row{
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-h {
    display: flex;
    justify-content: center;
}
.center-v {
    display: flex;
    align-items: center;
}

.btn {
    min-width: 2.5rem;
    min-height: 2.5rem;
    box-shadow: 0px 0px 2px 0.2px #00000025;
    border-radius: 0.35rem;
    font-family: Lato;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}
.btn:active {
    box-shadow: unset;
}
.btn:disabled {
    cursor: default;
    box-shadow: unset;
}


.btn-blue {
    border: 1px solid #ffffffbb;
    color: #ffffff;
    background-image: linear-gradient(180deg, rgba(46,136,255,1) 0%, rgba(17,107,255,1) 20%, rgba(14,101,242,1) 85%, rgba(18,95,219,1) 100%);
}
.btn-blue:hover {
    background-image: linear-gradient(180deg, #2e88fb 0%, #116bff 10%, #0e65f2 90%, #125fdb 100%);
    border: 1px solid #ffffffcc;
}
.btn-blue svg {
    padding: 10px;
    fill: #fff;
}
.btn-blue:disabled svg {
    padding: 10px;
    fill: #d7e6f3;
}
.btn-blue:active svg {
    fill: #d7e6f3;
}
.btn-blue:active {
    background-image: linear-gradient(180deg, rgba(15,99,153,1) 0%, rgba(16,88,224,1) 15%, rgba(16,88,242,1) 75%, rgba(54,107,255,1) 100%);
    border: 1px solid #ffffffcc;
    color: #d7e6f3;
}
.btn-blue:disabled {
    background: rgb(19, 121, 184);
    color:#d7e6f3;
}


.btn-light {
    border: 1px solid #387ae5bb;
    color: #0e65f2;
    background-image: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(245 245 245) 20%, rgb(240 240 240) 85%, rgb(210, 210, 210) 100%);
}
.btn-light:hover {
    background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 10%, #f3f3f3 90%, #dddddd 100%);
    border: 1px solid #387ae5cc;
}
.btn-light svg {
    padding: 10px;
    fill: #0e65f2;
}
.btn-light:disabled svg {
    padding: 10px;
    fill: #3678e2;
}
.btn-light:active svg {
    fill: #3678e2;
}
.btn-light:active {
    background-image: linear-gradient(180deg, rgb(178, 178, 178) 0%, rgb(228, 228, 228) 15%, rgb(231, 231, 231) 75%, rgb(255, 255, 255) 100%);
    fill: #3678e2;
}





.font-segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.75rem;
}
.header .btn {
    display: flex;
}

.form-control {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #88888850;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    outline: 0;
    border-color: #6db8cc;
    box-shadow: 0 0 8px rgb(155 225 255 / 100%);
}

input[type=number] {
    background-color: #fff5 !important; 
    color: #000 !important;
    box-shadow: inset 0 0 5px 1px #0001;
    text-align: center;
    font-weight: 500;
    font-size: 20pt;
    width: 0rem;
    min-width: 100%
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}